html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
  height: 44px;
}
header nav {
  width: 100%;
  height: 100%;
}

.hero .covid {
  width: 100%;
  height: 44px;
}
.hero .ribbon {
  width: 100%;
  height: 44px;
}
.hero .hero-content {
  width: 100%;
  height: 613px;
}

.featured-1 {
  width: 100%;
  height: 613px;
}
.featured-1 .featured-1-content {
  width: 100%;
  height: 100%;
}

.featured-2 {
  width: 100%;
  height: 613px;
}
.featured-2 .spacer {
  width: 100%;
  height: 140px;
}
.featured-2 .featured-2-content {
  width: 100%;
  height: 473px;
}

.collection {
  width: 100%;
  height: 3900px;
  display: grid;
  gap: 10px;
}
.collection .unit-1 {
  grid-area: "unit-1";
  width: 100%;
  height: 500px;
}
.collection .unit-2 {
  grid-area: "unit-2";
  width: 100%;
  height: 750px;
}
.collection .unit-2 .logo {
  width: 100%;
  height: 47px;
}
.collection .unit-3 {
  grid-area: "unit-3";
  width: 100%;
  height: 650px;
}
.collection .unit-4 {
  grid-area: "unit-4";
  width: 100%;
  height: 650px;
}
.collection .unit-4 .logo:first-child {
  width: 100%;
  height: 26px;
}
.collection .unit-4 .logo:nth-child(2) {
  width: 100%;
  height: 28px;
}
.collection .unit-5 {
  grid-area: "unit-5";
  width: 100%;
  height: 600px;
}
.collection .unit-6 {
  grid-area: "unit-6";
  width: 100%;
  height: 700px;
}

@media screen and (min-width: 735px) {
  .collection {
    width: 100%;
    height: 1540px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "unit-1 unit-2" "unit-3 unit-4" "unit-5 unit-6";
    gap: 10px;
    padding: 10px 0;
  }
  .collection .collection-item {
    width: 100%;
    height: 500px;
  }
  .collection .unit-1 {
    background-size: 800px;
  }
  .collection .unit-2 {
    background-size: 400px;
  }
  .collection .unit-3 {
    background-size: 400px;
  }
  .collection .unit-4 {
    background-size: 800px;
  }
  .collection .unit-4 .logo:first-child {
    margin-top: 300px;
  }
  .collection .unit-5 {
    background-size: 400px;
  }
  .collection .unit-6 {
    background-size: 400px;
  }
}
footer {
  width: 100%;
  height: auto;
}
footer .wrapper {
  width: 100%;
  height: 100%;
}
footer .wrapper .footnotes {
  width: 100%;
  height: auto;
}
footer .wrapper .footer-nav {
  width: 100%;
  height: auto;
}
footer .wrapper .footer-extras {
  width: 100%;
  height: auto;
}

header {
  background: #000000de;
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
header nav {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
}
header nav a {
  text-decoration: none;
  color: #f5f5f7;
  opacity: 0.8;
  transition: opacity 0.3s;
  padding: 0 10px;
}
header nav a p {
  font-size: 14px;
}
header nav a i {
  font-size: 130%;
}
header nav a:hover {
  opacity: 1;
}
header .navbar-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  height: 44px;
  visibility: hidden;
}

@media screen and (max-width: 734px) {
  header nav {
    visibility: hidden;
  }
  header .navbar-mobile {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar-mobile i {
    font-size: 130%;
    color: #cfcfce;
    padding: 0 20px;
  }
}
.covid {
  margin-top: 44px;
  background-color: #0071e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.covid a:link,
.covid a:visited {
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.covid a:hover {
  text-decoration: underline;
}
.covid i {
  font-size: 10px;
  padding-left: 5px;
  color: white;
}

.ribbon {
  background: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ribbon a:link,
.ribbon a:visited {
  color: #06c;
  text-decoration: none;
}
.ribbon a:hover {
  text-decoration: underline;
}

.hero {
  background: #131313;
}
.hero .hero-content {
  background: url(../../images/heroes/hero-iphone-se-md-tall.jpg) no-repeat center;
  background-size: contain;
}
.hero .hero-content h2 {
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  font-size: 43px;
  line-height: 1.3;
  padding-top: 70px;
}
.hero .hero-content h3 {
  color: white;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  line-height: 28px;
}
.hero .hero-content p {
  color: #7a7a7e;
  font-size: 17px;
  text-align: center;
  margin-top: 6.8px;
}
.hero .hero-content .cta-links {
  text-align: center;
}
.hero .hero-content .cta-links a {
  font-size: 21px;
  color: #06c;
}
.hero .hero-content .cta-links a:link, .hero .hero-content .cta-links a:visited {
  text-decoration: none;
}
.hero .hero-content .cta-links a:hover {
  text-decoration: underline;
}
.hero .hero-content .cta-links i {
  color: #06c;
  padding: 10px;
}

.featured-1 {
  background: #fafafa;
}
.featured-1 .featured-1-content {
  background: url(../../images/heroes/hero-iphone-11-md.jpg) no-repeat bottom;
  background-size: contain;
}
.featured-1 .featured-1-content h2 {
  color: #1d1d1f;
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  padding-top: 70px;
}
.featured-1 .featured-1-content h3 {
  color: #1d1d1f;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  line-height: 28px;
}
.featured-1 .featured-1-content p {
  color: #7a7a7e;
  font-size: 17px;
  text-align: center;
  margin-top: 6.8px;
}
.featured-1 .featured-1-content .cta-links {
  text-align: center;
}
.featured-1 .featured-1-content .cta-links a {
  font-size: 21px;
  color: #06c;
}
.featured-1 .featured-1-content .cta-links a:link, .featured-1 .featured-1-content .cta-links a:visited {
  text-decoration: none;
}
.featured-1 .featured-1-content .cta-links a:hover {
  text-decoration: underline;
}
.featured-1 .featured-1-content .cta-links i {
  color: #06c;
  padding: 10px;
}

.featured-2 {
  background: #fafafa;
}
.featured-2 .spacer {
  background: #fafafa;
}
.featured-2 .featured-2-content {
  background: url(../../images/heroes/hero-ipad-pro-md.jpg) no-repeat bottom;
  background-size: contain;
}
.featured-2 .featured-2-content h2 {
  color: #1d1d1f;
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  margin-top: -60px;
}
.featured-2 .featured-2-content h3 {
  color: #1d1d1f;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  line-height: 28px;
}
.featured-2 .featured-2-content .cta-links {
  text-align: center;
}
.featured-2 .featured-2-content .cta-links a {
  font-size: 21px;
  color: #06c;
}
.featured-2 .featured-2-content .cta-links a:link, .featured-2 .featured-2-content .cta-links a:visited {
  text-decoration: none;
}
.featured-2 .featured-2-content .cta-links a:hover {
  text-decoration: underline;
}
.featured-2 .featured-2-content .cta-links i {
  color: #06c;
  padding: 10px;
}

.unit-1 {
  background: url(../../images/promos/promo-1.jpg) no-repeat bottom, #fafafa;
  background-size: 100%;
}
.unit-1 h4 {
  color: #1d1d1f;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  line-height: 36px;
  padding-top: 45px;
}
.unit-1 .cta-links {
  text-align: center;
}
.unit-1 .cta-links a {
  font-size: 17px;
  color: #06c;
}
.unit-1 .cta-links a:link, .unit-1 .cta-links a:visited {
  text-decoration: none;
}
.unit-1 .cta-links a:hover {
  text-decoration: underline;
}
.unit-1 .cta-links i {
  color: #06c;
  padding: 10px;
}

.unit-2 {
  background: url(../../images/promos/promo-2.jpg) no-repeat bottom, #fafafa;
  background-size: contain;
}
.unit-2 .logo {
  background: url(../../images/logos/logo_apple-watch-5.png) no-repeat center;
  background-size: contain;
  margin-top: 50px;
}
.unit-2 h4 {
  color: #1d1d1f;
  font-size: 19px;
  text-align: center;
  font-weight: 300;
  line-height: 23px;
  padding-top: 10px;
}
.unit-2 .cta-links {
  text-align: center;
}
.unit-2 .cta-links a {
  font-size: 17px;
  color: #06c;
}
.unit-2 .cta-links a:link, .unit-2 .cta-links a:visited {
  text-decoration: none;
}
.unit-2 .cta-links a:hover {
  text-decoration: underline;
}
.unit-2 .cta-links i {
  color: #06c;
  padding: 10px;
}

.unit-3 {
  background: url(../../images/promos/promo-3.jpg) no-repeat bottom, #fafafa;
  background-size: contain;
}
.unit-3 h4 {
  color: #1d1d1f;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  line-height: 23px;
  padding-top: 45px;
}
.unit-3 h5 {
  color: #1d1d1f;
  font-size: 19px;
  text-align: center;
  font-weight: 300;
  line-height: 23px;
  padding-top: 10px;
}
.unit-3 .cta-links {
  text-align: center;
}
.unit-3 .cta-links a {
  font-size: 17px;
  color: #06c;
}
.unit-3 .cta-links a:link, .unit-3 .cta-links a:visited {
  text-decoration: none;
}
.unit-3 .cta-links a:hover {
  text-decoration: underline;
}
.unit-3 .cta-links i {
  color: #06c;
  padding: 10px;
}

.unit-4 {
  background: url(../../images/promos/promo-4.jpg) no-repeat top, #040304;
  background-size: contain;
}
.unit-4 .logo:first-child {
  background: url(../../images/logos/logo_apple-tv-plus.png) no-repeat center;
  background-size: contain;
  margin-top: 450px;
  margin-bottom: 13px;
}
.unit-4 .logo:nth-child(2) {
  background: url(../../images/logos/logo-foundation.png) no-repeat center;
  background-size: contain;
}
.unit-4 h5 {
  color: white;
  font-size: 19px;
  text-align: center;
  font-weight: 300;
  line-height: 23px;
  padding-top: 13px;
}
.unit-4 .cta-links {
  text-align: center;
}
.unit-4 .cta-links a {
  font-size: 17px;
  color: #2997ff;
}
.unit-4 .cta-links a:link, .unit-4 .cta-links a:visited {
  text-decoration: none;
}
.unit-4 .cta-links a:hover {
  text-decoration: underline;
}
.unit-4 .cta-links i {
  color: #06c;
  padding: 10px;
}

.unit-5 {
  background: url(../../images/promos/promo-5.jpg) no-repeat bottom, #f1f1f3;
  background-size: contain;
}
.unit-5 h5 {
  color: #1d1d1f;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  line-height: 36px;
  padding-top: 45px;
}
.unit-5 .cta-links {
  text-align: center;
}
.unit-5 .cta-links a {
  font-size: 17px;
  color: #06c;
}
.unit-5 .cta-links a:link, .unit-5 .cta-links a:visited {
  text-decoration: none;
}
.unit-5 .cta-links a:hover {
  text-decoration: underline;
}
.unit-5 .cta-links i {
  color: #06c;
  padding: 10px;
}

.unit-6 {
  background: url(../../images/promos/promo-6.jpg) no-repeat bottom, #fafafa;
  background-size: 100%;
}
.unit-6 h4 {
  color: #1d1d1f;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  line-height: 36px;
  padding-top: 45px;
}
.unit-6 h5 {
  color: #1d1d1f;
  font-size: 19px;
  text-align: center;
  font-weight: 300;
  line-height: 23px;
  padding-top: 10px;
}
.unit-6 .cta-links {
  text-align: center;
}
.unit-6 .cta-links a {
  font-size: 17px;
  color: #06c;
}
.unit-6 .cta-links a:link, .unit-6 .cta-links a:visited {
  text-decoration: none;
}
.unit-6 .cta-links a:hover {
  text-decoration: underline;
}
.unit-6 .cta-links i {
  color: #06c;
  padding: 10px;
}

footer {
  background-color: #f5f5f7;
  font-size: 12px;
  line-height: 1.33337;
}
footer .wrapper {
  margin: 0 auto;
  max-width: 980px;
  height: 100%;
}
footer .wrapper .footnotes {
  color: #86868b;
  border-bottom: 1px solid #d2d2d7;
}
footer .wrapper .footnotes p {
  padding-bottom: 0.7em;
  padding: 15px 20px;
}
footer .wrapper .footnotes a {
  color: #515154;
  text-decoration: none;
}
footer .wrapper .footnotes a:hover {
  text-decoration: underline;
  color: #1d1d1f;
}

.footer-nav {
  padding-top: 20px;
  display: flex;
  flex-wrap: nowrap;
}
.footer-nav div {
  flex-basis: 25%;
}
.footer-nav div h3 {
  font-weight: 400;
  color: #1d1d1f;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0.7em;
}
.footer-nav div ul {
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
}
.footer-nav div ul li {
  margin-bottom: 0.7em;
}
.footer-nav div ul li a {
  color: #515154;
  text-decoration: none;
}
.footer-nav div ul li a:hover {
  text-decoration: underline;
  color: #1d1d1f;
}

.footer-nav-mobile {
  display: none;
}

@media screen and (max-width: 734px) {
  .footer-nav {
    display: none;
  }

  .footer-nav-mobile {
    display: block;
    padding: 15px 20px;
  }
  .footer-nav-mobile p {
    color: #1d1d1f;
    padding: 10px 0;
    border-bottom: 1px solid #d2d2d7;
  }
  .footer-nav-mobile p::after {
    content: "+";
    float: right;
  }
}
.footer-extras {
  margin: 34px 0 21px;
}
.footer-extras p {
  color: #86868b;
  margin-left: 20px;
}
.footer-extras a {
  color: #515154;
  text-decoration: none;
}
.footer-extras a:hover {
  text-decoration: underline;
  color: #1d1d1f;
}
.footer-extras .foot-extras-up {
  margin-bottom: 7px;
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d2d7;
}
.footer-extras .foot-extras-up a {
  color: #06c;
}
.footer-extras .foot-extras-bot {
  margin-bottom: -15px;
  margin-top: 5px;
}
.footer-extras .foot-extras-bot p,
.footer-extras .foot-extras-bot section {
  margin-right: 30px;
  padding-bottom: 10px;
  display: inline-block;
}
.footer-extras .foot-extras-bot section a {
  border-right: 1px solid #d2d2d7;
  margin-right: 7px;
  padding-left: 20px;
  padding-right: 10px;
}
.footer-extras .foot-extras-bot .foot-extras-country {
  margin-left: 125px;
}

/*# sourceMappingURL=main.css.map */
