@use '../base/mixins' as *;

header {
    @include sizing(100%, 44px);
    nav {
        @include sizing(100%, 100%);
        // @include outline();
    }
}

.hero {
    .covid {
        @include sizing(100%, 44px);
        // @include outline(green);
    }

    .ribbon {
        @include sizing(100%, 44px);
        // @include outline();
    }

    .hero-content {
        @include sizing(100%, 613px);
        // @include outline();
    }
}

.featured-1 {
    @include sizing(100%, 613px);
    // @include outline();

    .featured-1-content {
        @include sizing(100%, 100%);
    }
}

.featured-2 {
    @include sizing(100%, 613px);
    // @include outline();

    .spacer {
        @include sizing(100%, 140px);
    }

    .featured-2-content {
        @include sizing(100%, 473px);
    }
}

.collection {
    @include sizing(100%, 3900px);
    // @include outline();
    // padding: 10px 0;
    display: grid;
    gap: 10px;
    // grid-auto-rows: 750px;
    // grid-template-columns: 1fr;

    .unit-1 {
        // @include outline(green);
        grid-area: 'unit-1';
        @include sizing(100%, 500px);
    }

    .unit-2 {
        grid-area: 'unit-2';
        @include sizing(100%, 750px);
        .logo {
            @include sizing(100%, 47px);
        }
    }

    .unit-3 {
        grid-area: 'unit-3';
        @include sizing(100%, 650px);
    }

    .unit-4 {
        grid-area: 'unit-4';
        @include sizing(100%, 650px);

        .logo:first-child {
            @include sizing(100%, 26px);
        }

        .logo:nth-child(2) {
            @include sizing(100%, 28px);
        }
    }

    .unit-5 {
        grid-area: 'unit-5';
        @include sizing(100%, 600px);
    }

    .unit-6 {
        grid-area: 'unit-6';
        @include sizing(100%, 700px);
    }
}

// For Tablets and Larger Devices
@media screen and (min-width: 735px) {
    .collection {
        @include sizing(100%, 1540px);
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            'unit-1 unit-2'
            'unit-3 unit-4'
            'unit-5 unit-6';
        gap: 10px;
        padding: 10px 0;

        .collection-item {
            @include sizing(100%, 500px);
        }

        .unit-1 {
            background-size: 800px;
        }

        .unit-2 {
            background-size: 400px;
        }

        .unit-3 {
            background-size: 400px;
        }

        .unit-4 {
            background-size: 800px;

            .logo:first-child {
                margin-top: 300px;
            }
        }

        .unit-5 {
            background-size: 400px;
        }

        .unit-6 {
            background-size: 400px;
        }
    }
}

footer {
    @include sizing(100%, auto);
    // @include outline();

    .wrapper {
        @include sizing(100%, 100%);

        .footnotes {
            @include sizing(100%, auto);
            // @include outline();
        }

        .footer-nav {
            @include sizing(100%, auto);
            // @include outline();
        }

        .footer-extras {
            @include sizing(100%, auto);
            // @include outline();
        }
    }
}
