$nav-black: #000000de;
$nav-grey: #cfcfcf;

$covid-blue: #0071e3;
$link-blue: #06c;
$link-blue-lighter: #2997ff;

$text-black: #1d1d1f;
$text-grey: #7a7a7e;
$text-white-shade: #f5f5f7;

$bg-grey: #fafafa;
$bg-grey-2: #f1f1f3;
$bg-black-foundation: #040304;

$footer-bg-grey: #f5f5f7;
$footer-hr-grey: #d2d2d7;
$footnotes-text-grey: rgb(134, 134, 139);
$footnav-text-grey: #515154;
$footer-nav-text: rgb(29, 29, 31);

$hero-black: #131313;
