@use '../base/variables' as var;

.footer-nav {
  padding-top: 20px;
  display: flex;
  flex-wrap: nowrap;

  div {
    flex-basis: 25%;

    h3 {
      font-weight: 400;
      color: var.$text-black;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 0.7em;
    }

    ul {
      margin-left: 20px;
      margin-right: 20px;
      list-style: none;

      li {
        margin-bottom: 0.7em;

        a {
          color: #515154;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
          color: var.$text-black;
        }
      }
    }
  }
}

.footer-nav-mobile {
  display: none;
}

@media screen and (max-width: 734px) {
  .footer-nav {
    display: none;
  }

  .footer-nav-mobile {
    display: block;
    padding: 15px 20px;

    p {
      color: var.$footer-nav-text;
      padding: 10px 0;
      border-bottom: 1px solid var.$footer-hr-grey;
    }

    p::after {
      content: '+';
      float: right;
    }
  }
}
