@use '../base/variables' as var;

footer {
  background-color: var.$footer-bg-grey;
  font-size: 12px;
  line-height: 1.33337;

  .wrapper {
    margin: 0 auto;
    // padding: 0 22px;
    max-width: 980px;
    height: 100%;

    .footnotes {
      color: var.$footnotes-text-grey;
      //   padding: 17px 0 11px;
      //   margin: 0 22px;
      border-bottom: 1px solid var.$footer-hr-grey;

      p {
        padding-bottom: 0.7em;
        padding: 15px 20px;
      }

      a {
        color: #515154;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
        color: var.$text-black;
      }
    }
  }
}
