@use "../base/variables" as var;

.ribbon {
  background: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  a:link,
  a:visited {
    color: var.$link-blue;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
